.header {
  background-color: white;
  width: 100%;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;

  .headerTop {
    height: 80px;
    line-height: 80px;
    padding: 0 160px;
    .web-name{
      font-size: 22px;
      color: #568AFF;
      padding-left: 15px;
    }
    .headerItem {
      text-align: right;
      .service-title{
        font-size: 16px;
        font-weight: 300;
        color: #568AFF;
        padding: 0 80px 0 6px;
      }
    }
    .ant-dropdown{
      border: 1px solid #ddd;
      padding: 10px;
    }
    .searchwrap{
      text-align: center;
      .ant-btn{
        border: 1px dashed #dddddd;
        color: #666666;
      }
      .add-patient-button{
        margin-left: 30px;
      }
    }
  }
}

.pwdStrength {
  // width: 100%;
  display: flex;
  flex: 1;
}

.weak,
.middle,
.strong {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  background: #EDECEC;
  text-align: center;
  border-radius: 8px;
}

.weak {
  color: rgba(255, 255, 255, 0.85);
  background: #E67B7A;
  border-radius: 8px;
}

.middle,
.weak {
  margin-right: 4px;
}
.dropDownWrap{
  .title{
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .mainWrap{
    max-height: 300px;
    overflow: scroll;
  }
  .patientItem{
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
}
.ant-popover-inner-content{
  padding: 0;
}
.ant-popover-arrow{
  display: none;
}
.logout-wrap{
  .operation-wrap{
    display: flex;
    align-items: center;
    padding: 9px 30px;
    font-size: 14px;
    color:#666666;
    .operation-content{
      padding-left: 9px;
    }
    .change-img-wrap{
      width: 13px;
      height: 14px;
      background: url('../../assets/layout/change.png');
    }
    .logout-img-wrap{
      width: 14px;
      height: 15px;
      background: url('../../assets/layout/logout.png');
    }
  }
  .operation-wrap:hover{
    color: #568AFF;
    background: rgba(22, 119, 255, 0.1);
    cursor: pointer;
    img{
      color: #568AFF;
    }
    .change-img-wrap{
      background: url('../../assets/layout/changeactive.png');
    }
    .logout-img-wrap{
      background: url('../../assets/layout/logoutactive.png');
    }
  }

}
